.container {
  position: relative;
}

nav {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 300px;
}

.nav-list {
  list-style: none;
}

.graph-div {
  height: 300px;
  margin-left: 25%;
  background-color: #eee;
}
